@import url('styles.css');

#prev_link, #next_link {
    display: none;
    position: absolute;
    top: 50%;
}

@media (min-width: 800px) {
  #prev_link, #next_link {
    display: block;
  }
}

#prev_link {
    left: 0;
}

#next_link {
    right: 0;
}

#prev_link img, #next_link img {
    margin: 1em;
}

#image img {
  max-height: 80vh;
  width: 100%;
  object-fit: contain;
}

#gallery {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, 100px);
  justify-content: center;
  gap: 1em;
}

#gallery figure {
  margin: 0;
}

#gallery figure img {
  object-fit: cover;
}

